SampleService/SampleService_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://SampleService" xmlns:ns1="http://www.employee.details" xmlns:tns="http://SampleService">
    <xsd:import namespace="http://www.employee.details" schemaLocation="EmpInfo.xsd"/>
    <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="getEmployeeDetails">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Input" nillable="true" type="ns1:EmployeesRequestType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="getEmployeeDetailsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Output" nillable="true" type="ns1:EmployeesResponseType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>